@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    color: #1B1B1B;
}
h1, h2, h3 {
    font-family: Corinthia;
    text-align: center;
    font-size: 3rem;
    color: #ED716B;
}
p{
    font-size: 1.8rem;
}
footer{
    background: #FDA49F;
}
footer h1{
    font-family: Corinthia;
    text-align: center;
    padding: 1rem;
    color: #1B1B1B;
}
footer p{
    text-align: justify;
    line-height: 1.8;
}